<div id="main_menu">
    <a style="float: left; padding-left: 0px;" href="{{ path('serwis') }}" ><button>Homepage</button></a>
    <a style="float: left; padding-left: 0px;" href="{{ path('admin_panel') }}" ><button>Dashboard</button></a>
    <a href="{{ path('admin_login') }}" ><button>Log in</button></a>
    <a href="{{ path('logout') }}" ><button>Logout</button></a>
</div>
