<div id="main_menu"">
    <input id="filename" type="hidden" value= {{ filename }}>
    <a href="{{ path('login') }}">
        <button>Logowanie</button>
    </a>
    <a href="{{ path('rejestracja') }}">
        <button>Rejestracja</button>
    </a>
</div>