@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700&subset=latin,latin-ext);
body{
    margin: 0 auto;
    font-family: 'Work Sana', Arial, sans-serif;
    background-color: white;
}

.content_info h1{
    font-size: 2.5em;
}

.div_cnt{
    margin: 0 auto;
    max-width: 60rem;
    margin-bottom: 200px;
}

.article{
    padding:1rem;
    height:10rem;
    width:100%;
    border:1px solid #ddd;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-family:sans-serif;
}
body {
    background: #fafafc;
}
textarea{
    max-width: 100%;
}
.briefArticle{
    width: 30%;
    display: inline-block;
    margin-top:200px;
}
.header3{
    text-align: center;
    display: block;
}
.panel-option a{
    color: black;
    display: block;
    padding-top: 10px;
}

.panel-option a:hover {
    text-decoration: none;
}

.alert-success a:hover {
    text-decoration: none;
    background-color: #b1dfbb;
}
body, #slider, .wrap, .slide-content{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height: 80vh;
    overflow-x: hidden;
}
.wrap{position: relative;}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{ background-image: url('computer.jpg');}

.slide2{ background-image: url('../images/network.jpg');}

.slide3{ background-image: url('../images/newspaper.jpg');}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    color: black;
    font-size: 5rem;
}

.arrow{
    position: absolute;
    cursor: pointer;
    top:50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrow-left{
    border-width: 30px 40px 30px 0;
    left: 0;
    border-color: transparent black transparent transparent;
    margin-left: 30px;
}
#arrow-right{
    border-width: 30px 0px 30px 40px;
    right: 0;
    border-color: transparent transparent transparent black;
    margin-right: 30px;
}
.panels{
    margin: 100px 50px;
    width: 90%;
    background-color: lightgray;
    position: relative;
    height: 300px;
    box-shadow: 5px 10px 18px #888;
    border-radius: 5px;
}
.panels:hover{
    height: 305px;
    width:92%;
    background-color: #888;
}
.panels_articles{
    position: absolute;
    left: 300px;
}
#bottom_intro{
    height: 20vh;
    width:100%;
    background: #333;
}

#users, #admins{
    margin: auto;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
#users td, #users th, #admins td, #admins th{
    border: 1px solid #ddd;
    width: 200px;
    height:50px;
}
#users .options{
    width: 400px;
}
#users tr:nth-child(even), #admins tr:nth-child(even) {
    background-color: #f2f2f2;
}
#users tr:hover, #admins tr:hover{
    background-color: #ddd;
}
#users th{
    background-color: #3c8dbc;
    color: white;
}
#admins th{
    background-color: #1c2d3f;
    color: #00a65a;
}
h1{
    text-align: center;
}
#user {
    padding-top: 50px;
}

#panel-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    margin:auto;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    margin-bottom: 50px;
    padding-top: 80px;
}
.panel-option{
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 220px;
    width: 220px;
    background-color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding: 10px;
    font-weight: 800;
}
.panel-option:hover{
    opacity: 0.7;
}
.panel-option img{
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
}
#admin-menu{
    background-color: #1c2529;
    width: 100%;
    color: white;
    height: 60px;
}
#admin-menu a{
    color: white;
}
#admin-menu a:hover{
    color: #00a65a;
}
#admin-menu ul li{
    display: inline-block;
    text-decoration: none;
}
#admin-form{
    display: none;
    float: right;
    margin: 0 50px 200px 0;
}

#addNew, #cancelNew{
    display:inline;
    float: right;
    margin: 20px 20px 0 0;
}
#registration{
    margin: auto;
}
#registration div{
    display: inline;

}
#registration div label{
    padding: 10px;
}
#newAdmin{
    float: right;
    margin: 0 200px 200px 0;
    font-size: 2.5em;
    color: white;
    background-color: #00a65a;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
#addNew, #cancelNew{
    color: white;
    background-color: #00a65a;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 1em;
    margin: 30px;
}
#cancelNew{
    background-color: #1c2d3f;
}
#newAdmin:hover{
    cursor: pointer;
    background-color: #1c2d3f;
    color: #00a65a;
    transition: 0.5s;
}

.menu {
    background-color: black;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
}
.xEdit{
    color: red;
}
.oEdit:hover{
    cursor: pointer;
}
#adminDetails{
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}
#adminDetails div{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 90%;
    opacity: unset;
    position: relative;
    overflow-y: scroll;
    margin: auto;
}
#adminDetails div div{
    width: 80%;
    padding: 10px;
    overflow: visible;
    display: inline-block;
}
#adminDetails div h2{
    text-align: center;
}
#adminDetails button{
    margin: 0 auto;
    background-color: #3c8dbc;
    width:150px;
    height: 50px;
    color: whitesmoke;
    font-size: 1.2em;
}
.close{
    position: absolute;
    right: 50px;
    top: 20px;
    font-size: 2em;
    font-weight: 500;
    color: red;
}
.close:hover{
    cursor: pointer;
}
#avatar{
    width: 70px;
    height: 70px;
    border: solid 1px lightgray;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.slider-main{
    height: 500px;
    width:100%;
    position: relative;
    background-color: #1c2d3f;
    background-size: cover;
}
.slider-main-elems{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    left: -20rem;
    transition: 1s 2s all;
}
.active{
    left: 0;
    opacity: 1
}
.slide-title{
    font-size: 1.8rem;
    text-transform: uppercase;
}
.slide-desc{
    color: whitesmoke;
    font-size: 1.6rem;
    transition: 5s 3s all;
}

#main_menu{
    width: 100%;
    height: 50px;
    background-color: #1c2529;
    position: absolute;
    top: 0;
    z-index: 999;
}

#main_menu button{
    color: white;
    background-color: #1c2529;
    cursor: pointer;
    font-size: 1.2em;
    float: right;
    width: 120px;
    padding: 5px;
    border: none;
    height: 50px;
}
#main_menu button:hover {
    background-color: lightgrey;
    color: black;
    transition: all 0.5s;
}

.add-form input,  select{
    display: block;
    background-color: white;
    font: 400 13.3333px Arial;
    letter-spacing: normal;
    word-spacing: normal;
    padding: 1px 0;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 5px;
}
#addAdvert label {
    display: block;
    margin-bottom: 5px;
    font-weight: 800;
    padding: 10px;
}
#advert_title, #advert_voivodeship {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
}
#addAdvert {
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 5%;
    padding-top: 100px;
}
#addAdvert h2 {
    padding: 5%;
    font-weight: 800;
    color: darkslategrey;
}
#addAdvert button {
    height: 40px;
    width: 200px;
    color: white;
    font-weight: 800;
    background-color: #3c8dbc;
    border: none;
    left: 50%;
    margin-left: calc(50% - 100px);
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
}

#addAdvert button:hover {
    background-color: darkblue;
}

.dark-aside {
    background-color: aliceblue;
    width: 100%;
    color: lightgrey;
    padding-top: 80px;
    padding-bottom: 150px;
}

.user-adverts {
    width: 80%;
    margin: auto;
    height: 80%;
    border: 1px solid black;
}

.highligter {
    color: red;
    font-size: 0.7em;
    text-decoration: none;
}

.advert-container {
    width: 20%;
    margin: 20px;
    display: inline-block;
    background-color: #3c8dbc;
    border-radius: 10px;
    box-shadow: 0 0 0.8em gray;
}
.advert-container:hover {
    cursor: pointer;
    opacity: 0.8;
}

.container-img {
    height: 60%;
    width: 60%;
    margin: auto;
    display: block;
}

.container-options {
    display: block;
    margin: 20px 20px 20px 0;
    float: right;
}

.container-date {
    color: white;
    padding-left: 20px;
}

.calendar {
    font-size: 1.4em;
    margin-right: 5px;
}

.container-title {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 1.2em;
    font-weight: 200;
}
.thumb-img {
    width: 200px;
    height: 250px;
    margin-right: 10px;
}

.advert-info {
    width: 70%;
    margin: auto;
    font-size: 1.2em;
}

.advert-title {
    margin: 20px 0 40px 20px;
    font-size: 1.5em;
}
.advert-content {
    margin: 0 20px 20px 20px;
    line-height: 1.8em;
}

.thumb-img {
    width: 100%;
    height: 80%;
    background-color: white;
    border-radius: 5px;
    border: solid 4px deepskyblue;
}

#adminDetails{
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
}
#adminDetails div{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    height: 90%;
    opacity: unset;
    position: relative;
    overflow-y: scroll;
    margin: auto;
}

.pagination-active {
    background-color: #677eff;
    color: white;
}

.alert-advert {
    background-color: white;
    width: 90%;
    height: 100px;
    font-size: 1.2em;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 5%;
    border-radius: 10px;
}
#advert_table tr:hover {
    background-color: aliceblue;
    text-decoration: none;
}
#advert_table a:hover {
    text-decoration: none;
    background-color: aliceblue;
}

.nav-design {
    width: 30%;
    background-color: white;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid lightgray;
    margin: 40px;
}

.nav-orange {
    border-left: 5px solid orange;
}

.nav-green {
    border-left: 5px solid green;
}

.nav-red {
    border-left: 5px solid red;
}

.nav-violet {
    border-left: 5px solid darkviolet;
}

.container-design {
    padding-bottom: 100px;
    margin-top: 40px;
    margin-right: 20px;
    background-color: white;
    width: 60%;
    border-radius: 5px;
    border-bottom: 2px solid lightgray;
}

.thumbnail {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.account-settings {
    width: 700px;
    border-radius: 40px;
    margin: 0 auto;
    box-shadow: 6px 9px 19px -1px rgba(0,0,0,0.71);
    -webkit-box-shadow: 6px 9px 19px -1px rgba(0,0,0,0.71);
    -moz-box-shadow: 6px 9px 19px -1px rgba(0,0,0,0.71);
    background-image: url('http://127.0.0.1:8000/images/account-settings.jpg');
}

@media all and (max-width:500px) {
    .container-design {
        width: 90%;
        overflow: hidden;
        display: block;
        margin-left: 5px;
        margin-bottom: 20px;
    }

    .nav-design {
        width: 90%;
        overflow: hidden;
        display: block;
        margin-left: 30px;
    }
    .account-settings {
        width: 300px;
    }

    .nav-orange {
        margin-top: 20px;
    }
}
.photo-container {
    position: fixed;
    background-color: black;
    width: 100%;
    height:100%;
    opacity: 0.8;
}

#account label, #admin_password label {
    display: block;
    color: black;
    margin-top: 10px;
}


#account{
    margin: 0 auto;
}

.avatar-round {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    background-color: white;
    margin-left: calc(50% - 80px);
}

#account ul, #admin_password ul {
    display: none;
}

.custom-bttn {
    width: 120px;
    height: 50px;
    background-color: lightslategrey;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.7s;
    margin-left: calc(50% - 60px);
    margin-top: 40px;
    margin-bottom: 20px;
}

.custom-bttn:hover {
    background-color: lightblue;
    color: black;
}

#account label, #admin_password label {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

#account input {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    height: 40px;
}

#admin_password input {
    width: 70%;
    margin-left: 20%;
    height: 40px;
}
.title-center {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-top: 50px;
}

#user_photo {
    margin-top: 20px;
    margin-left: calc(50% - 120px);
    font-weight: 700;
    font-size: 14px;
}

.index-info {
    background-image: url('http://127.0.0.1:8000/images/computer.jpg');

}

.index-adds {
    background-image: url('http://127.0.0.1:8000/images/background.jpg');
}

.square {
    padding-top: 10%;
    padding-left: 5%;
    background-color: whitesmoke;
    color: #282828;
}
.square .text-intro {
    font-size: 1.75rem;
    color: #ababab;
    text-transform: uppercase;
    font-weight: 600;
}

.square .text-title {
    font-weight: 600;
    line-height: 4.50rem;
    font-size: 4.75rem;
}

.text-button {
    color: rgba(255,255,255,0.9);
    background-color: #282828;
    border: none;
    width: 250px;
    height: 50px;
    font-size: 1.3em;
    margin-top: 40px;
}
.main-footer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191919;
    padding-bottom: 7rem;
    overflow: hidden;
    height: 450px;
    padding-top: 20%;
}

.main-footer p {
    color: white;
    line-height: 2.5em;
    font-size: 1.5em;
    text-align: center;
}
.main-header {
    height: 400px;
    color: #282828;
    background-color: #e6e6e6;
    padding-top: 200px;
    padding-bottom: 300px;
}

.main-header h1 {
    font-size: 5.5rem;
    text-align: center;
    font-weight: 600;
}

@media (min-width: 768px) {
    .square {
        width: 50%;
        float: left;
        height: 600px;
        display: inline-block;

    }
}

@media (max-width: 768px) {
    .square {
        width: 100%;
        display: block;
        height: 400px;
        padding-bottom: 50px;
        font-size: 1em;
    }
}

.notification-panel {
    background-color: lightblue;
    text-align: center;
    font-size: 3em;
    height: 250px;
    padding: 30px;
    margin-bottom: 100px;
}

.notification {
    width: 80%;
    margin: 30px auto;
}

#modal-admin label, #admin_password label {
    display: block;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 800;
}

#modal-admin button, #modal-avatar button, #modal-password button {
    margin-top: 20px;
    width: 150px;
    height: 30px;
    font-size: 1em;
    margin-bottom: 30px;
}

#press-list {
    padding-top: 120px;
    font-size: 1.4em;
    font-weight: 800;
    margin-left: 100px;
}

#net-list, #press-list {
    font-size: 1.4em;
    font-weight: 800;
    line-height: 3em;
    margin-top: 50px;
    margin-left: 100px;
}

.dark-aside a {
    display: block;
    line-height: 3em;
    padding-left: 15px;
}

.edit_mode {
    float: right;
    width: 200px;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 20px;
    border: none;
    height: 50px;
    background-color: lightblue;
    font-weight: 800;
}

.edit_mode:hover {
    opacity: 0.8;
}

.box-image {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

.photo-div {
    float: left;
    width: 254px;
    text-align: center;
    border: 1px solid black;
    background-color: black;
    font-size: 1.3em;
    margin: 50px;
}

.about-serwis {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 2em;
    background-color: lightblue;
    margin-bottom: 100px;
}
