<div id="admin-menu">
    <a href="#"><h3>Panel ogloszeniowy</h3></a>
    <ul>
        <li><a href="#">Powrot do ogloszen</a></li>
        <li><a href="#">Twoje konto</a></li>
        <li><a href="{{ path('panel_informacyjny') }}">Panel informacyjny</a></li>
        <li><a href="{{ path('logout') }}">Wyloguj</a></li>
    </ul>
</div>